:root {
  --bg-color: rgb(24, 24, 24);
  --font-color: rgb(255, 252, 244);
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: var(--bg-color);
  color: var(--font-color);

  display: flex;
  justify-content: space-around;
}
.logo {
  margin: 0;
  align-self: center;
  font-size: 1.5rem;
  letter-spacing: 0.45rem;
}
.toggle-button {
  cursor: pointer;
  display: grid;
  align-items: center;
  align-self: center;
  padding: 0;
  height: 2rem;
}
.bar {
  margin: 0;

  background-color: var(--font-color);
  width: 2rem;
  height: 0.3rem;
}
.nav-list {
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.nav-list a {
  text-decoration: none;
}
.nav-list a:visited {
  color: var(--font-color);
}
